
@model PPI.Core.Web.Models.AmsaReports.Event.ViewModel.AMSAEventViewModel

@{
    ViewBag.Title = "Insert Dates";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<div class="main-box clearfix">
    <div class="main-box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>AMSAEvent</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AMSAEvent.id)


                @*
                Form will be built depending on what values where selected on past form
                *@

                <div class="form-group">
                    @Html.LabelFor(model => model.AMSAEvent.ReviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AMSAEvent.ReviewDate)
                            @Html.ValidationMessageFor(model => model.AMSAEvent.ReviewDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AMSAEvent.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AMSAEvent.StartDate)
                            @Html.ValidationMessageFor(model => model.AMSAEvent.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AMSAEvent.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AMSAEvent.EndDate)
                            @Html.ValidationMessageFor(model => model.AMSAEvent.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @if (Model.AMSAEvent.JetRequired)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.AMSAEvent.JetNeedByDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.AMSAEvent.JetNeedByDate)
                                @Html.ValidationMessageFor(model => model.AMSAEvent.JetNeedByDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

                @if (Model.AMSAEvent.CompositeRequired)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.AMSAEvent.CompositeNeedByDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.AMSAEvent.CompositeNeedByDate)
                                @Html.ValidationMessageFor(model => model.AMSAEvent.CompositeNeedByDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>