@model IEnumerable<PPI.Core.Web.Models.AmsaReports.AMSAEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn  btn-primary btn-lg btn-block" })
</p>
<div>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            Event
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Review Date
        </th>
        <th>
            Status
        </th>
        <th>Type</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Description)
        </td>
        <td>
            @Html.DisplayFor(m => item.StartDate))
        </td>
        <td>
            @Html.DisplayFor(m => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(m => item.ReviewDate)
        </td>
        <td>
            @try { 
                if (item.AMSAEventStatus.Name.Equals("Invitation"))
                {
                    <label class="label-success label label-large txt-white" style="width:100px;display:block ">Invitation</label>
                }
                else if (item.AMSAEventStatus.Name.Equals("InComplete"))
                {
                    <label class="label-warning label label-large txt-white" style="width:100px;display:block ">In Complete</label>
                }
                else if(item.AMSAEventStatus.Name.Equals("Not Started"))
                {
                    <label class="label-danger label label-large txt-white" style="width:100px;display:block ">Not Started</label>
                }
                else if (item.AMSAEventStatus.Name.Equals("Finished"))
                {
                    <label class="label-primary label label-large txt-white" style="width:100px;display:block ">Finished</label>
                }
            }
            catch
            {
                <text>No Status</text>
            }
        </td>
       
        <td>
            @Html.DisplayFor(m => item.AMSAEventType.Name)
        </td>
        <td>
            <div class="groupbtn text-right">
                @Html.ActionLink("Edit", "Edit", "AMSAEvents", new { id = @item.id }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Delete", "Delete", "AMSAEvents", new { id = @item.id }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("@ TPG", "EmailTpg", "AMSAEvents", new { id = @item.id }, new { @class = "btn btn-primary btn-xs" })
            </div>
        </td>
    </tr>
}

</table>
</div>
