@model IEnumerable<PPI.Core.Web.Models.AmsaReports.AMSAOrganization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-box clearfix">
    <div class="main-box-body">
        <h2>AMSA Organizations</h2>
        <br />
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn  btn-primary btn-lg btn-block" })
        </p>
        
        <div>
            <table class="table table-responsive table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-default">
                               Edit
                            </a>
                            <a href="@Url.Action("Details", new { id=item.id })" class="btn btn-primary">
                                Details
                            </a>
                            <a href="@Url.Action("Delete", new { id=item.id })" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete');">
                                Delete
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
</div></div>