@model PPI.Core.Web.Models.AmsaReports.Email.AMSAEmail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
<div class="main-box clearfix">
    <div class="main-box-body">
        <div>
            <h2>AMSAEmail</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(m => m.Type)
                </dt>

                <dd>
                    @Html.Raw(Model.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.DefaultFrom)
                </dt>

                <dd>
                    @Html.Raw(Model.DefaultFrom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.Subject)
                </dt>

                <dd>
                    @Html.Raw(Model.Subject)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.Introduction)
                </dt>

                <dd>
                    @Html.Raw(Model.Introduction)
                </dd>
                @if (Model.Type.ToUpper().Equals("REMINDER")) { 
                <dt>
                    @Html.DisplayNameFor(m=> Model.automaticReminderDays)
                </dt>
                <dd>
                    @Html.DisplayFor(m => Model.automaticReminderDays)
                </dd>
                }
                <dt>
                    @Html.DisplayNameFor(m => m.Closing)
                </dt>

                <dd>
                    @Html.Raw(Model.Closing)
                </dd>

            </dl>
        </div>
        <p class="col-lg-offset-2 col-md-offset-2">
            @Html.ActionLink("Back to List", "Setup", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"}) 
            
        </p>
</div></div>