@model PPI.Core.Web.Models.AmsaReports.Email.ViewModel.AMSAEmailSendViewModel
    @{
        ViewBag.Title = "Send";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

    <div class="main-box clearfix">
        
            <div class="tabs-wrapper" style="border:4px solid #d0d8de;">
                <div class="main-box-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @if (Model.idSelectedEvent != 0)
                            {
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-inviatation">Invitation</a></li>
                                    <li><a data-toggle="tab" href="#tab-reminder">Reminder</a></li>
                                </ul>
                            }
                        </div>
                        <!-- Hidden div to store the id of the event -->
                        <div id="idOfEvent" data-eventid="@Model.idSelectedEvent" style="display:none">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @using (Html.BeginForm("GetSendEvent", "AMSAEmails"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group" style="margin-top:0px;margin-bottom:10px;">
                                    @Html.LabelFor(model => model.Events, htmlAttributes: new { @class = "control-label  col-md-2  bold" })
                                    <div class="col-md-4 col-lg-4">
                                        @Html.DropDownListFor(model => model.idSelectedEvent, Model.Events, new { @class = "form-control", @onChange = "this.form.submit();" })
                                        @Html.ValidationMessageFor(model => model.Events, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            


                            <div id="participantsToReceiveMail" class="tab-content" style="display:none;">

                                @if (Model.idSelectedEvent != 0)
                                {

                                    <div id="tab-inviatation" class="tab-pane fade in active">
                                        <h2>Participants waiting for Invitation</h2>
                                        <hr />
                                        @* Participants that need to be sent an invitation *@

                                        @if (Model.lstParticipantsForInvitation.Count > 0)
                                        {
                                            <table class="table table-responsive table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            First Name
                                                        </th>
                                                        <th>
                                                            Last Name
                                                        </th>
                                                        <th>
                                                            AAMC Number
                                                        </th>
                                                        <th>
                                                            Primary E-mail
                                                        </th>
                                                        <th>
                                                            AMSA Code
                                                        </th>
                                                        <th>
                                                            <div class="checkbox-nice">
                                                                <input id="checkbox-selectAll-invite" name="checkbox" type="checkbox">
                                                                <label for="checkbox-selectAll-invite"></label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                @foreach (var item in Model.lstParticipantsForInvitation)
                                                {
                                                    <tr>
                                                        <td>
                                                            <text>
                                                                @item.FirstName
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.LastName
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.AAMCNumber
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.PrimaryEmail
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.AMSACode
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox-nice">
                                                                <input id="@item.Id" class="selected-person-invite" name="checkbox" type="checkbox" data-participant="@item.Id" />
                                                                <label for="@item.Id"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-9 col-md-offset-9">
                                                    <button class="btn btn-success" id="sendInvitation" data-eventid="@Model.idSelectedEvent">Send Invitation</button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <h4>
                                                There are no participants waiting for invitations.
                                            </h4>
                                        }
                                    </div>
                                    @* Participants that need to be sent a reminder *@
                                    <div id="tab-reminder" class="tab-pane fade in">
                                        <h2>Participants waiting for Reminder</h2>
                                        <hr />
                                        @if (Model.lstParticipantForReminder.Count > 0)
                                        {
                                            <table class="table table-responsive table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            First Name
                                                        </th>
                                                        <th>
                                                            Last Name
                                                        </th>
                                                        <th>
                                                            AAMC Number
                                                        </th>
                                                        <th>
                                                            Primary E-mail
                                                        </th>
                                                        <th>
                                                            AMSA Code
                                                        </th>
                                                        <th>
                                                            <div class="checkbox-nice">
                                                                <input id="checkbox-selectAll-reminder" name="checkbox" type="checkbox">
                                                                <label for="checkbox-selectAll-reminder"></label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.lstParticipantForReminder)
                                                {
                                                    <tr>
                                                        <td>
                                                            <text>
                                                                @item.FirstName
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.LastName
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.AAMCNumber
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.PrimaryEmail
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <text>
                                                                @item.AMSACode
                                                            </text>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox-nice">
                                                                <input id="@item.Id" class="selected-person-reminder" name="checkbox" type="checkbox" data-participant="@item.Id" />
                                                                <label for="@item.Id"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-9 col-md-offset-9">
                                                    <button class="btn btn-success" id="sendReminder" data-eventid="@Model.idSelectedEvent">Send Reminder</button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <h4>
                                                There are no participants waiting for reminders.
                                            </h4>
                                        }
                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Show error messages here -->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="error text-danger alert alert-danger" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal to show error/success messages
    .modal-message holds the message
    #send-email-message is the name of the modal window
     -->

<div id="send-email-message" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title">E-mails</h1>
        </div>
        <div class="modal-body modal-message">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="emailsNotSetUp" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title">E-mails Not Setup</h1>
            </div>
            <div class="modal-body modal-message">
                
                <p>E-mails for this Event are not setup yet.<br />You will need to setup e-mails before they can be sent.</p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Setup E-mails","Setup", "AmsaEmails", new { id = Model.idSelectedEvent }, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts{
    <script type="text/javascript">
        var emailsSetUp = false; //Global variable used to check if e-mails are set up or not
        $(document).ready(function () {
            //On click for select all of invitation then select all for invitation
            $("#checkbox-selectAll-invite").unbind("click");

            $("#checkbox-selectAll-invite").on("click", function () {
                var box = $(this);
                if ($(this).is(":checked")) {
                    //check all boxes
                    changeValuesOfCheckbox("checked", "invite");
                }
                else {
                    changeValuesOfCheckbox("unchecked", "invite");
                }
            });

            //When loading the pag check if there are e-mails set up for the event and if they have text
            //If there arent send the user to the specific page so they can make the necessary changes
            emailsSetUp = checkSanityEmailsForEvent();


            //On click for select all of reminder then select all for reminder
            $("#checkbox-selectAll-reminder").unbind("click");

            $("#checkbox-selectAll-reminder").on("click", function () {
                var box = $(this);
                if ($(this).is(":checked")) {
                    //check all boxes
                    changeValuesOfCheckbox("checked", "reminder");
                }
                else {
                    changeValuesOfCheckbox("unchecked", "reminder");
                }
            });


            /**************************
                    BUTTON ACTIONS
            ***************************/
            //Send reminder e-mail (get al ids selected and then build then call the method in the controler
            $("#sendReminder").unbind("click");
            $("#sendReminder").on("click", function () {
                var lstId = [];
                lstId = getlstId("reminder");
                //Call send invite
                eventId = $(this).data("eventid");
                send(lstId,eventId,"REMINDER");
            });

            //Send reminder e-mail (get al ids selected and then build then call the method in the controler
            $("#sendInvitation").unbind("click");
            $("#sendInvitation").on("click", function () {
                var lstId = [];
                lstId = getlstId("invite");
                //Call send reminder
                eventId = $(this).data("eventid");
                send(lstId,eventId,"INVITE");
            });


        });

        //Receives type of e-mail that will be sent and returns listing of ids that are selected
        function getlstId(s) {
            var ret = [];
            //Check list for invite
            if (s == "invite") {
                $(".selected-person-invite").each(function (index) {
                    if ($(this).is(":checked")) {
                        ret.push($(this).data("participant"));
                    }
                });
            }

            //Get list for reminder
            else if (s == "reminder") {
                $(".selected-person-reminder").each(function (index) {
                    if ($(this).is(":checked")) {
                        ret.push($(this).data("participant"));
                    }
                });
            }
            return ret;
        }

        //Status = value that needs to be set, action = invite || reminder
        function changeValuesOfCheckbox(status, action) {

            if(action == "invite"){
                $(".selected-person-invite").each(function (index) {
                    if (status == "checked") {
                        $(this).prop("checked", true);
                    }
                    if (status == "unchecked") {
                        $(this).prop("checked", false);
                    }
                });
            }
            else if (action == "reminder") {
                $(".selected-person-reminder").each(function (index) {
                    if (status == "checked") {
                        $(this).prop("checked", true);
                    }
                    if (status == "unchecked") {
                        $(this).prop("checked", false);
                    }
                });
            }
        }

        //Send reminder e-mails
        function send(lstId, eventId,type) {
            $(".error").fadeOut();
            $("#sendInvitation").attr("disabled", "disabled");
            $("#sendReminder").attr("disabled", "disabled");
            if (lstId.length > 0) {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: "../AMSAEmails/SendEmail",
                    datatype: "json",
                    data: JSON.stringify({
                        lstId : lstId,
                        eventId: eventId,
                        type : type
                    }),
                    traditional: true,
                    success: function (data) {
                        var m = "";
                        if (data.error) {
                            //Show error
                            m = "<p>" + data.message + "<br />"; //Stores message error to show on modal
                            //Loop through e-mails and add them to the error message
                            for (var i = 0; i < data.lstEmails.length; i++) {
                                m += data.lstEmails[i] + "<br />";
                            }
                            m += "</p>";
                            //Show error message on modal window
                            //Since some e-mails can be sent correctly simply inform the e-mails that have not been sent
                            
                        }
                        else {
                            //Show message on success (modal?)
                            m = data.message;
                        }
                        m += "<p>Window will be reloaded in 4 seconds to show latest information on screen.</p>";
                        $(".modal-message").html(m);
                        $("#send-email-message").modal("show");
                        //Reload location after a timeout of 4000 milliseconds
                        setTimeout(function () {
                            location.reload();
                        }, 4000);
                    },
                    error: function (data) {
                        $(".error").html("<p>Error processing request, please try again. If problem persists please contact IT department.</p>");
                        $(".error").fadeIn();
                        $("#sendInvitation").removeAttr("disabled");
                        $("#sendReminder").removeAttr("disabled");
                    }
                });

            }
            else {
                $("#sendInvitation").removeAttr("disabled");
                $("#sendReminder").removeAttr("disabled");
                $(".error").html("<p> One or more participants need to be selected to send reminder e-mail. </p>");
                $(".error").fadeIn();
            }

        }

        //Checking sanity of e-mails for the event
        /*****
        Method returns true or false depending if the event has e-mails set up or not
        *****/
        function checkSanityEmailsForEvent() {
            var eventId = $("#idOfEvent").data("eventid");
            if(eventId > 0){
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: "POST",
                url: "../AMSAEmails/checkSanityForEvent",
                datatype: "json",
                data: JSON.stringify({ eventId: eventId }),
                traditional: true,
                success: function (data) {
                    var m = "";
                    if (data.error) {
                        //E-mails need to be set up
                        $("#emailsNotSetUp").modal("show");
                        return false;
                    }
                    else {
                        $("#participantsToReceiveMail").fadeIn();
                        return true;
                    }
                },
                error: function (data) {
                    $(".error").html("<p>Error processing request, please try again. If problem persists please contact IT department.</p>");
                    $(".error").fadeIn();
                    console.log(data);
                }
            });
            }
        }


    </script>
    }