@model PPI.Core.Web.Models.AmsaReports.Email.ViewModel.EmailListingViewModel

@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-box clearfix">
    <div class="main-box-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Setup E-mails</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12">
                <strong>Events:</strong><br>
                @using (Html.BeginForm("Setup", "AMSAEmails"))
                {
                    @Html.AntiForgeryToken()
                    @Html.DropDownListFor(model => model.idSelectedEvent, Model.Events, new { @class = "form-control", @onChange = "this.form.submit();", @Id = "selectEvent" })
                }
            </div>
        </div>
        
        <br />

        <div>
            <table class="table table-responsive table-striped">
                <tr>
                    <th>
                        Default From
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Introduction
                    </th>
                    <th>
                        Closing
                    </th>
                    <th>
                        Days before reminder
                    </th>
                    <th>
                        Event Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.lstEmails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DefaultFrom)
                        </td>
                        <td>
                            @if (item.Subject != null && item.Subject.Length >= 60)
                            {
                                @Html.Raw(item.Subject.ToString().Substring(0, 60)) <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.Subject)
                            }
                        </td>
                        <td>
                            @if (item.Introduction != null && item.Introduction.Length >= 60)
                            {
                                @Html.Raw(item.Introduction.ToString().Substring(0, 60)) <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.Introduction)
                            }
                        </td>
                        <td>
                            @if (item.Closing != null && item.Closing.Length >= 60)
                            {
                                @Html.Raw(item.Closing.ToString().Substring(0, 60)) <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.Closing)
                            }
                        </td>
                        <td>
                            @if (item.Type.ToUpper().Equals("REMINDER")) { 
                                @item.automaticReminderDays
                            }
                        </td>
                        <td>
                            @if (item.AMSAEvent.Name != null && item.AMSAEvent.Name.Length >= 60)
                            {
                                @Html.Raw(item.AMSAEvent.Name.ToString().Substring(0, 60)) <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.AMSAEvent.Name)
                            }
                        </td>
                        <td>
                            @if(item.Type != null && item.Type.Length >= 60) { 
                                @Html.Raw(item.Type.ToString().Substring(0,60)) <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.Type)
                            }
                        </td>
                        <td style="min-width:150px;">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default">
                                Edit
                            </a>
                            <a href="@Url.Action("Preview", new { id=item.Id })" class="btn btn-primary">
                                Preview
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>