@model PPI.Core.Web.Models.AmsaReports.ViewModel.AMSAParticipantProfileViewModel
    @{
        ViewBag.Title = "Profile";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

    <h1>AMSA Participant Profile</h1>

    <div class="main-box clearfix">
        <div class="main-box-body">
            <div class="row">
                <div class="error" style="display:none;">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @* Add data about completion and Status for AMSA Report*@
                    <h2>
                        @Html.DisplayFor(m => m.AmsaParticipant.FirstName) @Html.DisplayFor(m => m.AmsaParticipant.LastName)
                    </h2>
                    <div class="profile-label">
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle fa-fw fa-lg"></i>
                            <strong>STATUS:</strong> 
                            @Model.AmsaParticipant.Status
                        </div>
                    </div>
                    <table  cellpadding="2" cellspacing="2">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="profile MVPI pull-left" style="width:200px; margin-right:10px;">
                                    AMSA
                                    </span>
                                </td>
                                <td>
                                        @if (Model.AmsaParticipant.Status.ToUpper().Equals("COMPLETED") || Model.AmsaParticipant.Status.ToUpper().Equals("COMPLETED PASS"))
                                        {
                                            <div class="label label-large label-primary pull-right" style="margin-top:0px;">
                                                Completed
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="label label-large label-danger pull-right" style="margin-top:0px;">
                                                @Model.AmsaParticipant.Status
                                            </div>
                                        }

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p>
                         
                        
                        @try
                        {
                            @*Get top date to show, since ordered in descending order will will se the latest update date*@
                            <text>
                                As of @Model.AmsaStudentData[0].Updated
                            </text>
                        }
                        catch
                        {
                            <text>
                                Data for date of data update not reachable, please make sure student data is associated to the participant
                            </text>
                        }

                    </p>
                    <div>
                        @Html.ActionLink("Back to AMSA Participants", "Index",null, new { @class = "btn btn-default"})
                    </div>
                </div>
            
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @* Add tabed data - Programs the user is related to and e-mails it has been sent *@

                    <div class="tabs-wrapper profile-tabs" style="border:4px solid #d0d8de;margin-top:25px;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#programs">Programs</a></li>
                            <li><a data-toggle="tab" href="#emails">E-mails</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="programs" class="tab-pane fade in active">
                          
                                    @foreach (var p in Model.AmsaStudentData)
                                    {
                                        <div class="row">
                                            <h4 class="col-lg-6 cpl-md-6 col-sm-12 col-xs-12">
                                                @p.getProgram().Name
                                            </h4>
                                            <button class="col-lg-6 cpl-md-6 col-sm-12 col-xs-12 btn btn-primary getReport" onclick="getPdfReport(@p.Id);" style="display:inline-block;">Get Report PDF</button>
                                        </div>
                                    }

                                        </div>

                                    <div id="emails" class="tab-pane fade in">
                                        <div>
                                            <h2>E-mails</h2>
                                        </div>
                                    </div>
                                </div>

                    </div>
                    </div>
        
        </div>
    </div>



    @*Modal message to show when report is being generated*@
    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">The report will be generated and sent to you shortly.</h4>
                </div>
                <div class="modal-body">
                    You will be receiving the reports in your e-mail inbox shortly.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
       
    <script type="text/javascript">
        function getPdfReport(id) {
            console.log(id);
            getReport(id);
        }
    
        function getReport(id) {
            //Get the ids of participants for whom the report will be generated
            $(".error").fadeOut();
            var participantsId = [];
            participantsId.push(id);
            if (participantsId.length > 0) {
                //Show modal with message about report being generated
                $("#modalMessage").modal('show');
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: "../../Reports/getPdfReports",
                    datatype: "json",
                    data: JSON.stringify({
                        lstParticipantIds: participantsId
                    }),
                    traditional: true,
                    success: function (data) {

                    },
                    error: function (data) {
                        console.log("Error processing request " + data);
                    }
                });
            }
            else {
                $(".error").fadeIn();
                $(".error").html('<div class="col-lg-12">' +
                    '<br /><p>Please select a participant  to generate reports, reports can\'t be generated if no participants are selected.</p>' +
                    '<br /></div>');
            }
        }
    
    </script>
}